@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: black;
	color: white;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

/* Logo */

.logo {
    font-size: 1.6rem;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    letter-spacing: 1px;
    color: white;
    padding: 0 16px;
    width: 50%;
    height: 50%;
}
.logo span {
    color: #f0f4fd;
}

/* Navbar */

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #f0f4fd;
    transition: 0.3s ease;
    padding: 0 16px;
}

nav a:hover {
    color: gold;
}
nav a.active {
    color: gold;
}

nav a.active::after {
    background: gold;
    position: absolute;
}

nav form {
	display: flex;
}

nav form input[type=text] {
	width: auto;
	height: 30px;
	background: #f0f4fd;
	border: none;
	font-size: 10pt;
	float: left;
	color: black;
	padding: 10px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-weight: 400;
}

nav form input[type=text]:focus-visible {
	outline:0px ;
    box-shadow: none ;
}

nav form button[type=submit] {
	width: 50px;
	height: 30px;
	background: gold;
	border: none;
	font-size: 10pt;
	float: left;
	color: #f0f4fd;
	padding: 6px;
	border-left: 2px solid;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	font-weight: 400;
	cursor: pointer;
}

/* Home */

.home{
	position: relative;
	height: 100vh;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	align-items: center;
    padding: 20px 76px;
}

.home-title h1{
	color: rgba(255, 0, 0, 0.8);
	font-size: 2.8rem;
	margin: 15px 0 15px;
}

.home-title h2{
	color: rgba(255, 0, 0, 0.8);

	font-size: 1.8rem;
	margin: 15px 0 15px;
}

.home-title h6{
	color: goldenrod;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
}

.home-title p{
	color: gold;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: 48px;
}

.button {
    border: 2px solid red;
    border-radius: 10px;
    width: 140px;
    height:44px;
    color: red;
    background: gold;
    font-weight: 500;
}

.button:hover {
	border: 2px solid gold;
	color: gold;
    background:red;
}

/* Categories */

.center-text{
	text-align: center;
}

.center-text h5{
	color: goldenrod;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.categories {
    margin-top: 7rem;
}

.categories-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, auto));
	gap: 1.5rem;
	align-items: center;
	cursor: pointer;
	text-align: center;
	margin-top: 1rem;
    padding: 20px 76px;
}

.box{
	padding: 25px 60px;
	border: 2px solid red;
	border-radius: 20px;
	box-shadow: -11.729px -11.729px 32px rgb(255 255 255 / 15%);
	transition: all .40s ease;
    background: rgba(255, 160, 122, 0.5);
}

.box:hover{
	transform: translateY(-15px);
}

.box h3{
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
	line-height: 1.3;
	transition: all .40s ease;
}

.box h3:hover{
	color: goldenrod;
}

.box p{
	font-size: 1rem;
	color: red;
	font-weight: 500;
}

.main-btn{
	text-align: center;
	margin-top: 1rem;
}

.c-button {
    border: 2px solid red;
    border-radius: 10px;
    width: 140px;
    height:44px;
    color: red;
    background: gold;
	margin: 1rem auto;
    align-items: center;   
    display: inline-block; 
    font-weight: 500;
}

.c-button:hover {
    border: 2px solid gold;
	color: gold;
    background:red;
}

/* Courses */

.courses{
    margin-top: 7rem;
}

.courses-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	gap: 2rem;
	align-items: center;
	margin-top: 1rem;
	cursor: pointer;
	border-radius: 15px;
    padding: 20px 76px;
}

.row{
    border: 2px solid red;
	background: rgba(255, 160, 122, 0.5);
	padding: 0px 0px 10px 0px;
	border-radius: 20px;
	box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
	transition: all .40s ease;
}

.row:hover{
	transform: translateY(-15px);
}

.courses-text{
	padding: 35px 20px;
}

.courses-text h5{
	color: goldenrod;
	font-size: 18px;
	font-weight: 600;
    letter-spacing: 1px;
	margin-bottom: 20px;
}

.courses-text h3{
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	margin: 15px 0 15px;
	transition: all .40s ease;
}

.courses-text h3:hover{
	color: goldenrod;
}

.courses-text h6{
	color: #696969;
	font-size: var(--p-font);
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 1px;
	margin-bottom: 30px;
}

.rating{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
}

.star i{
	color: #fdcc0d;
	margin-right: 2px;
	font-size: 17px;
}

.review p{
	color: #696969;
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 1px;
}

.cta-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(170px, auto));
	gap: 2rem;
	align-items: center;
	text-align: center;
	margin-top: 5rem;
}

/* Login */
.login {
	display: flex;
	flex-direction: column;
	max-width: 1000px;
	margin: 7rem auto;
}
.login .login-content {
	width: 380px;
	height: auto;
	margin: auto;
	background-color: rgba(255, 160, 122, 0.5);
	border: 2px solid red;
	border-radius: 16px;
	margin-top: 40px;
}

.login .login-content h2 {
	text-align: center;
	padding-top: 20px;
	font-weight: 700;
}

.login .login-content form {
	width: 320px;
	margin: 20px;
}

.login .login-content form label {
	display: flex;
	margin: 12px 0px;
	font-size: 14px;
}

.login .login-content form input {
	width: 100%;
	padding: 8px;
	border: none;
	border: 1px solid #202020;
	border-radius: 8px;
	outline: none;
}

.login .login-content input[type=submit] {
	width: 320px;
	height: auto;
	margin: 40px 12px 26px 0px;
	padding: 8px 12px;
	display: flex;
	justify-content: center;
	background: gold;
	color: red;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	border: 2px solid red;
	border-radius: 6px;
	transition: all ease 0.3s;
}

.login .login-content input[type=submit]:hover {
	border: 2px solid gold;
	color: gold;
    background:red;
}

/* Profil */

.profil {
    margin-top: 7rem;
}

.profil-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, auto));
	gap: 2rem;
	align-items: center;
	margin-top: 1rem;
	cursor: pointer;
	border-radius: 15px;
    padding: 20px 76px;
}

.profil-content .img {
	background-image: url(https://scontent.fsub8-1.fna.fbcdn.net/v/t1.6435-9/105570452_106601207777311_693717401196048757_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=7-uF4sK6pNIAX_f4cri&_nc_ht=scontent.fsub8-1.fna&oh=00_AfCWW69B8pAExQlQwdxCjnL8oSC10NMU1Nrrj4w1elcgVQ&oe=63899335);
	border-radius: 100px;
	background-size: cover;
	width: 150px;
	height: 150px;
	border: 2px solid red;
	margin: 20px auto;
}

.row{
    border: 2px solid red;
	background: rgba(255, 160, 122, 0.5);
	padding: 0px 0px 10px 0px;
	border-radius: 20px;
	box-shadow: 0px 5px 40px rgb(19 8 73 / 13%);
	transition: all .40s ease;
}

.row:hover{
	transform: translateY(-15px);
}

.profil-text{
	padding: 35px 20px;
	text-align: center;
}

.profil-text h1{
	font-size: 24px;
	font-weight: 700;
	line-height: 34px;
	margin: 15px 0 15px;
	transition: all .40s ease;
}

.profil-text h1:hover{
	color: red;
}

.profil-text h4{
	color: red;
	font-size: 18px;
	font-weight: 600;
    letter-spacing: 1px;
	margin-bottom: 20px;
}

.profil-btn{
	text-align: center;
	margin-top: 1rem;
}

.p-button {
    border: 2px solid red;
    border-radius: 10px;
    width: 140px;
    height:44px;
    color: red;
    background: gold;
	margin: 1rem auto;
    align-items: center;   
    display: inline-block; 
    font-weight: 500;
}

.p-button:hover {
    border: 2px solid gold;
	color: gold;
    background:red;
}

.p-button a {
	color: red;
}

.login-content p{
	width: 380px;
	text-align: center;
	margin-top: 30px;
}

.login-content button {
    border: 2px solid red;
    border-radius: 10px;
    width: 150px;
    height:44px;
    color: red;
    background: gold;
	margin: 1rem auto;
    align-items: center;   
    display: inline-block; 
    font-weight: 500;
	align-items: center;
	margin-left: 113px;
}

.login-content button:hover {
    border: 2px solid gold;
	color: gold;
    background:red;
}

.login-content button a {
	color: blue;
	font-weight: 800;
}